---
import "@fontsource-variable/workbench/full.css";
import "@fontsource/lxgw-wenkai-mono-tc";

import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import tenmaOne from "../images/monster/tenma-one.jpeg";
import tenmaTwo from "../images/monster/tenma-two.jpeg";
import tenmaThree from "../images/monster/tenma-three.jpeg";

import johanLeft from "../images/monster/johan-left-side.jpeg";
import tenmaRight from "../images/monster/tenma-right-side.jpeg";

interface Props {
    title?: string;
    description?: string;
    images?: ImageMetadata[];
}

const { title, description, images = [tenmaOne, tenmaTwo, tenmaThree] }: Props = Astro.props;

const left = `url(${johanLeft.src})`;
const right = `url(${tenmaRight.src})`;
---

<!doctype html>
<html transition:name="none" class="w-full" lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <ViewTransitions />
    </head>
    <body class="w-full min-h-[100dvh] grid grid-rows-[auto_1fr_auto] justify-items-center gap-4">
        <Header />
        <div class="flex flex-nowrap flex-col lg:flex-row">
            <div class="m-8 flex flex-row flex-nowrap h-min lg:flex-col lg:sticky lg:top-8">
                {
                    images.map((image, index) => (
                        <div class={`${index % 2 == 0 ? "-rotate-12" : "rotate-12"} aspect-auto shadow-lg lg:w-52`}>
                            <Image src={image} alt={`Foto do Dr. Tenma nº ${index + 1}}`} loading={"eager"} />
                        </div>
                    ))
                }
            </div>
            <main transition:name="fade" class="bg-white p-4 text-justify sm:rounded-lg border-y-2 sm:border-2 border-slate-600 sm:mx-6 lg:mx-0 lg:w-[42rem]">
                <slot />
            </main>
        </div>
        <Footer />
    </body>
</html>

<style is:global define:vars={{ johanLeftSrc: left, tenmaRightSrc: right }}>
    html,
    body {
        font-family: "LXGW WenKai Mono TC", monospace;
    }

    html {
        overflow-y: scroll;
    }

    h1 {
        font-family: "Workbench Variable", monospace;
    }

    body {
        background-image: var(--johanLeftSrc), var(--tenmaRightSrc);
        background-position:
            left top,
            right top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: auto 100%;
        background-color: black;
    }

    @media (max-width: 1530px) {
        body {
            background-size:
                50vw auto,
                50vw auto;
            background-position:
                left center,
                right center;
        }
    }

    .main-sibling {
        width: calc(100% - 3rem);
    }

    .blinking-terminal-cursor::after {
        content: "_";
        animation: blink 1s infinite;
    }

    @-webkit-keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @media (min-width: 1024px) {
        .main-sibling {
            width: 59rem;
        }
    }
</style>
